body{
    background-image: linear-gradient(45deg, peachpuff, purple);
}

header {
    border-bottom: solid 3px white;
    width: 35%;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 20px auto;
}

button {
    background-color: skyblue;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 45%;
}

img {
    padding-left: 30%;
    padding-right: 50%;
    padding-top: 50px;
    max-width: 50%;
    max-height: 50%;
}

.selected{
    background-color: pink;
}

#comments{
    width: 80%;
    border: solid 1px gray;
}

.comment {
    border: solid 1px gray;
    margin: 15px;
    padding: 15px;
}

.error{
    color: red;
}

a {
    color: royalblue;
    cursor: pointer;
}

a:hover{
    color: purple;
}